<!DOCTYPE html>
<html lang="en" ng-app="myApp">
   <head>
   <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-39869790-1', 'github.com');
      ga('send', 'pageview');
    
    </script>
   
      <title>RPS: Game On!</title>
      <style type='text/css'>
         /* MUST HAVE WIDTH/HEIGHT */
         .ace-editor {
         width:100%;
         height:200px;
         }
         #contents {
         width:50%;
         height:50%;
         position:absolute;
         top:0;
         }
      </style>
      <script src="angular.min.js"></script>
      <script src="angular-resource.min.js"></script>
      <script src="jquery.min.js"></script>
      <script src="angular-ace.js"></script>
      <script src="ace.js" type="text/javascript" charset="utf-8"></script>
      <script language="javascript" type="text/javascript">
         angular.module('myApp', ['ngResource','ace']);
         
         function FirstController($scope, $resource){ 

                  //get leaderboard
                  $scope.getLeaderboard = function(){
                   console.log("Getting current leaderboard from Facebook");
                   var appId = '136675969847991';
                   
                  FB.api('/' + appId + '/scores', 'get', function(response) {
                    console.log("all scores retrieved from Facebook");  
                    console.log(JSON.stringify(response));
                    
                    var leaderboardInfo = document.getElementById("leaderboard");
                    
                    var arr = response["data"];
                    var board = "";
                    
                    function comparator(a,b){  
                      if (a.score < b.score) return -1;
                      if (a.score > b.score) return 1;
                      return 0;
                      console.log("successful sort!");
                      }
                      
                      
                      arr = arr.sort(comparator);
                    
                    for (var i = 0; i <  arr.length; i++){
                      var user = arr[i].user;
                      alert ("user = " + user);
                      var player = user.name;
                      alert ("player = " + player);
                      var score = arr[i].score;
                      alert ("score = " + score);
                      board = board + "<tr><td>" + player + "</td>" + score + "<td></td></tr>";
                      
                    }
                    
                    leaderboardInfo.innerHtml = '<table border = \'1\'><th>Player</th><th>Streak</th>'+ board + '</table>';
                    
                  });

                    
                  }
         }
           
      </script>
   </head>
   <body ng-controller="FirstController">
      <br>
      <input type="submit" value="Home" onclick="window.location='./index.html';" >
      <br>
      
      <div id = "fb-root"></div>
      <div id = "user-info"></div>
      <p><button id="fb-auth">Login</button><input type="submit" value="Share this game with your friends!" ng-click="share()"></p>
      <script src = "./fblogin.js"></script>
      Leaderboard:<br>
      <div id = "leaderboard"><input type="submit" value="get leaderboard" ng-click="getLeaderboard()"></p></div>
      
      
   </body>
</html>
